asgiref==3.3.0
certifi==2021.5.30
Django==3.1.2
mkl-fft
mkl-random==1.2.2
mkl-service==2.4.0
numpy==1.20.3
olefile==0.46
Pillow==8.3.1
pip==21.2.4
psycopg2==2.8.6
pytz==2020.1
reportlab==3.5.67
setuptools==52.0.0.post20210125
six==1.16.0
sqlparse==0.4.1
textwrap3==0.9.2
wheel==0.37.0
wincertstore==0.2